<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Real-Time Analyics</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Real-Time Analytics<span class="page"> | DASHBOARD</span></a>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h3>Open up the analytics dashboard in a new tab/window</h3>
        <h4 class="header"><a href="/dashboard">Analytics Dashboard</a></h4>
        <h3>Use the links below to test the real-time analytics dashboard</h3>
        <h4 class="header"><a href="/">Homepage</a></h4>
        <h4 class="header"><a href="/about">About Us</a></h4>
        <h4 class="header"><a href="/contact">Contact Us</a></h4>
      </div>
    </div>
  </div>

  <script src="/scripts/jquery/dist/jquery.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    var socket = io();
    $.getJSON("http://ip-api.com/json", function(data) {
      var visitor = {
        ip: data.query,
        city: data.city, 
        page: location.pathname, 
      }
      socket.emit('visitor-data', visitor);
    })
  </script>

</body>

</html>
